body {
    background-color: #f3f3f3;
    margin: 0;
    font-size: 1.3em;
    font-family: Avenir, serif;
}

#content {
    padding: 1rem;
}

.card_container {
    background-color: #fff;
    border-radius: 15px;
    padding: 1rem;
    margin: 0.5rem;
}

.card_body {
    width: 100%;
}

#actions {
    text-align: center;
    width: 100%;
}

#full-width {
    padding: 1rem;
}

#full-width div {
    display: inline-flex;
    overflow-x: auto;
    width: 100%;
}

#full-width div button {
    margin: 0.2rem;
}

#btn-data {
    background-color: #4CAF50;
    border: none;
    border-radius: 2rem;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

.category-btn {
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

#btn-get-tech-new {
    background-color: #ea5e12;
}

#btn-get-business {
   background-color: #4f66ff;
}

#btn-get-entertainment {
    background-color: #e8989b;
}

#btn-get-general {
    background-color: #2d7224;
}

#btn-get-health {
    background-color: #3f067b;
}

#btn-get-sciences {
    background-color: #164958;
}

#btn-get-sport {
    background-color: #9d2315;
}

.badge-source {
    display: inline-block;
    background-color: slateblue;
    color: white;
    padding: 0.2rem 2rem;
    text-align: center;
    border-radius: 2rem;
}

.img-fluid {
    width: 100%;
    border-radius: 1rem;
}